body {
    font-family: sans-serif;
    background-color:white;
    margin: 0;
}
main{
    padding: 30px;
}
header {
    background-color:white;
    padding: 20px;
    border-bottom: 3px solid #3c64e8; 
    text-align: center;
}
h2 {
    color: #3c64e8; 
}
p {
    color: white;
    line-height: 1.5;
}

.menu{list-style:none;margin:0;background-color:#3c64e8;
padding:15px;border-radius:5px;display:flex;justify-content:space-around;}

.menu-link{text-decoration:none;color:white;font-weight:bold;}

h1 {
  color: #d35400;
}

h3 {
  margin: 10px 0 5px;
  font-size:36px;
}

p {
  font-size: 20px;
color:black}
.pizzeria {
  margin-top: 20px;
}


img {width:200px;border-radius:50%;}



.pizza-1 {border:2px solid #e74c3c;border-radius:10px;background-color:#fff5f5;
text-align:center;}

.pizza-2 {border:2px solid #fa970c;border-radius:20px;background-color:white;
;text-align:center;}



.pizza-3 {border:2px solid #e74c3c;border-radius:10px;background-color:#fff5f5;
text-align:center;
     
}

    .blok1{border:2px solid #3c64e8 ;border-radius:10px;margin-right: 5px;
    margin-left: 5px;padding: 5px;background-color:#489df7;color:white;}
    
    .blok2{border:2px solid #ff4230 ;border-radius:10px;margin-right: 5px;
    margin-left: 5px;padding: 5px;background-color:#f55549;color:white;}

    .blok3{border:2px solid #fccd21 ;border-radius:10px;margin-right: 5px;
    margin-left: 5px;padding: 5px;background-color:#fcec0d;color:white;}
